server {
    listen {{ nginx_port | default(80) }};
    server_name {{ server_name | default('_') }};
    root /var/www/html;
    index index.html;

    location / {
        try_files $uri $uri/ =404;
    }
}

